<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.zhaoling.manage.mapper.IStudentMapper"> 
	
	<resultMap type="com.zhaoling.manage.entity.Student" id="studentRM">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="pwd" column="sex_id"/>
	</resultMap>

</mapper>